* {
    padding: 0px;
    margin: 0px;
}

body {
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#gameboard {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    margin: 24px;
}


.square {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    height: 200px;
    width: 200px;
    color: black;
    font-size: 100px;
    font-weight: bold;
}

#winner {
    font-size: 50px;
    font-weight: bold;
    margin: 25px
}