:root {
    --primary-color: #4169e1;
    --secondary-color: #add8e6;
    --tertiary-color: #ffffff;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    padding: 64px;
    height: 90vh;
    width: 100vw;
    font-family: Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color));
}

#winner {
    font-size: 50px;
    font-weight: bold;
    color: var(--tertiary-color);
}

.line {
    width: 80%;
    height: 2px;
    background: var(--tertiary-color);
    margin: 8px 0px;
}

#gameboard {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    border-radius: 12px;
}


.square {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--tertiary-color);
    height: 200px;
    width: 200px;
    color: var(--tertiary-color);
    text-shadow: 2px 2px 5px rgb(208, 212, 214) ;
    font-size: 100px;
    font-weight: bold;
    border-radius: 12px;
}

#controls {
    display: flex;
    gap: 32px;
    margin: 0px 32px;
}

button{
    width: 200px;
    height: 70px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: var(--tertiary-color);
    padding: 20px;
    background: linear-gradient(var(--primary-color) 60%, var(--secondary-color));
    border: 2px solid var(--tertiary-color);
    border-radius: 12px;
}

@media only screen and (max-width: 786px) {
    body {
      zoom: 70%;
      width: 75vw;
    }
  }