* {
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gameboard {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
}

.square {
    border: 2px solid black;
    height: 200px;
    width: 200px;
    color: black;
}